# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/

# Database Name
DATABASE_NAME=product_description_db

# FastAPI Configuration
HOST=127.0.0.1
PORT=8000

# Environment
ENVIRONMENT=development
